<div ng-controller="goodsCtrl">
    <div class="m-crumbs">您当前的位置：
        <ol class="breadcrumb">
            <li><a href="#/goods">物品管理</a></li>
        </ol>
    </div>
    <form class="form-inline m-line-form"  name="loginForm" verify-scope>
        <div class="form-group">
            <label>起止日期</label>
            <div class="m-icon-date">
                <span for="date1"><i class="iconfont icon-riqi"></i></span>
                <input id="date1" bs-Datepicker type="text" class="w180 date-time-defalut" placeholder="请选择时间段" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="inputId">物品ID</label>
            <input type="text" class="form-control m-input w100" id="inputId" ng-model="goodsId">
        </div>
        <div class="form-group">
            <label for="inputId" >企业名称</label>
            <div class="inblock defalut"  drop-search create-swtich=false drop-list="companyList" for-value="companyValue" for-item="node_name" select-value=""></div>
        </div>
        <div class="form-group">
            <label for="inputId">物品标签</label>
            <div class="inblock small" drop-search create-swtich=false drop-list="tagsList" for-value="tagValue" for-item="node_name" select-value=""></div>
        </div>
        <button type="submit" class="btn m-btn-icon" ng-click="search()"><i class="iconfont icon-search"></i> </button>
        <button type="submit" class="btn m-btn-icon" ng-click="reset()"><i class="iconfont icon-cancel"></i> </button>
    </form>
    <div class="m-btn-group" >
        <a href="#/goods/add" class="btn  m-btn">添加</a>
        <a href="#/goods/batchadd" class="btn m-btn">批量添加</a>
        <a href="#/goods/add" class="btn  m-btn">批量添加</a>
        <a href="javascript:;" class="btn  m-btn" data-toggle="modal" data-target="#myModal">批量标签</a>
        <a href="#/goods/add" class="btn  m-btn">批量下载二维码</a>
    </div>
    <table class="table table-bordered m-table">
        <thead>
            <tr>
                <th>
                    <div class="mid-box">
                        <input type="checkbox" ng-model="selectAll" name="sort">
                        <label>序号</label>
                    </div>
                </th>
                <th>企业名称</th>
                <th>企业编码</th>
                <th>物品ID</th>
                <th>物品名称</th>
                <th>物品标签</th>
                <th>备注</th>
                <th>日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="goods in goodsList | filter: copanyFilter | filter : tagsFilter">
                <td class="col-xs-1">
                    <div class="mid-box">
                        <input type="checkbox" ng-checked="selectAll" name="sort">
                        <label>{{goods.index}}</label>
                    </div>
                </td>
                <td class="col-xs-1">{{goods.company.node_name}}</td>
                <td class="col-xs-1">{{goods.company.node_id}}</td>
                <td class="col-xs-1">{{goods._id}}</td>
                <td class="col-xs-1">{{goods.name}}</td>
                <td class="col-xs-1">{{goods.tags.node_name}}</td>
                <td class="col-xs-2">{{goods.note}}</td>
                <td class="col-xs-1">{{goods.date*1000 | date:'yyyy-MM-dd'}}</td>
                <td class="col-xs-2 row icon-list">
                    <div class="col-xs-3">
                        <a href="javascript:;" class="m-link" ng-click="lookOver(goods)"> 
                            <i class="iconfont icon-look"></i>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:;" class="m-link">
                            <i class="iconfont icon-download"></i>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:;" class="m-link" ng-click="edit(goods)">
                            <i class="iconfont icon-edit"></i>
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="javascript:;" class="m-link" ng-click="del(goods)">
                            <i class="iconfont icon-del"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="m-page">
        <ul class="pagination fr ">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div ng-init="listData=['11','22']" add-Tag for-list='listData' for-name="大红门" callback='callbackA(param)'></div>
    <div my-Dialog=""  id="ngDialog"></div>
</div>

