<div ng-controller="goodsAddCtrl">
    <div class="m-crumbs ">您当前的位置：
        <ol class="breadcrumb">
            <li><a href="javascript:history.go(-1);">物品管理</a></li>
            <li><a href="#">批量添加</a></li>
        </ol>
    </div>
    <form class="m-form-horizontal " name="goodsAddForm" verify-scope>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">选择企业</label>
            <div class="col-sm-10 ">
                <div drop-search create-swtich=false drop-list="companyList" for-value="companyValue" for-item="node_name" select-value="" ng-verify ng-model="companyValue"></div>
                <i class="red">*</i>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">物品ID</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" ng-verify="min:3, max:10,required:true, errmsg:'请输入3~10位整数' " placeholder="请输入3~10位整数" maxlength="10">
                <i class="red">*</i>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">物品名称</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" ng-verify="pattern:/^[\u4e00-\u9fa5_a-zA-Z0-9]+$/,required:false, errmsg:'请输入中文、英文字母数字的名称' " placeholder="请输入物品名称" maxlength="10">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">物品标签</label>
            <div class="col-sm-10 ">
                <div drop-search create-swtich=false drop-list="tagsList" for-value="tagValue" for-item="node_name" select-value="" ng-model="tagValue"></div>
                <i class="red">*</i>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10 clearfix">
                <textarea rows="4" ng-model="notice.content" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 clearfix ">
                <a href="javascript:history.go(-1);" class="btn m-btn-cancel ">取消</a>
                <button class="btn m-btn-right fr" type="submit" ng-verify>保存修改</button>
            </div>
        </div>
    </form>
</div>
