@import url('reset.css');
@import "base/variable";
$num14:14px;
$num16:16px;
$num18:18px;
$num20:20px;
$num22:22px;
$num24:24px;
$num26:26px;
$num30:30px;
$num32:32px;
$num50:50px;
$num100:100px;
$num370:370px;
$num480:480px;
html,
body {
    height: 100%;
    margin: 0;
    padding: 0
}

div.login-warpper-center {
    width: 980px;
    margin: 0 auto;
}

div.login-header {
    height: $num100;
    line-height: $num100;
    color: #1ea177;
    strong {
        position: relative;
        font-size: $num32;
        font-weight: normal;
        padding-right: $num30;
        vertical-align: middle;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 10%;
            height: 80%;
            border-left: 1px solid #ccc;
        }
    }
    span {
        font-size: $num18;
        color: #666;
        margin-left: $num20;
        vertical-align: middle;
    }
}

.m-link {
    color: $link-color;
}

div.login-main {
    position: absolute;
    width: 100%;
    top: $num100;
    min-height: $num480;
    bottom: $num50;
    background: #1ea177;
    padding: 40px 0;
    div.login-warpper-center {
        position: relative;
        height: 100%;
    }
    div.login-fixed-height {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: $num370;
        margin-top: -$num370*.5;
        div.login-form {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 300px;
            border-radius: 4px;
            background: #fff;
            dl {
                margin-top: 34px;
                padding: 0 20px;
                dt.title {
                    line-height: 26px;
                    margin-bottom: 26px;
                    strong {
                        font-size: $num24;
                        @extend .m-link;
                    }
                    span {
                        float: right;
                        font-size: 14px;
                        vertical-align: bottom;
                    }
                }
                dd.form-group {
                    position: relative;
                    height: $num40;
                    padding-left: 32px;
                    line-height: 40px;
                    overflow: hidden;
                    border: 1px solid #c9c9ca;
                    border-radius: 4px;
                    span.iconfont-wapper {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: $num32;
                        height: $num40;
                        line-height: $num40;
                        text-align: center;
                        color: #666;
                        .iconfont {
                            font-size: 14px;
                        }
                    }
                    input {
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 100%;
                        vertical-align: top;
                    }
                    &.first {
                        margin-bottom: 22px;
                    }
                }
                dt.remember {
                    margin: 10px 0 18px;
                    font-size: 12px;
                    color: #666666;
                    a {
                        color: #666666;
                    }
                    input[type="checkbox"] {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.login-submit {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    font-size: $num16;
    color: #fff;
    background: $link-color;
}

div.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $num50;
    line-height: $num50;
    font-size: 12px;
    text-align: center;
    color: #888;
}

@media screen and (max-width: 1440px) {
    div.login-header {
        height: $num100*.8;
        line-height: $num100*.8;
        strong {
            font-size: $num32*.8;
            padding-right: $num30*.8;
        }
        span {
            font-size: 14px;
            margin-left: $num20*.8;
        }
    }
    .login-submit {
        height: $num40*.8;
        line-height: $num40*.8;
        font-size: $num16*.8;
    }
    div.login-main {
        top: $num100*.8;
        padding: 32px 0;
        div.login-fixed-height {
            height: $num370*.8;
            margin-top: -$num370*.5*.8;
            div.login-form {
                dl {
                    margin-top: $num34*.8;
                    padding: 0 $num20*.8;
                    dt.title {
                        line-height: $num26*.8;
                        margin-bottom: $num26*.8;
                        strong {
                            font-size: $num24*.8;
                        }
                        span {
                            font-size: $num14*.8;
                        }
                    }
                    dd.form-group {
                        height: $num40*.8;
                        line-height: $num40*.8;
                        padding-left: $num32*.8;
                        span.iconfont-wapper {
                            width: $num32*.8;
                            height: $num40*.8;
                            line-height: $num40*.8;
                            .iconfont {
                                font-size: 12px;
                            }
                        }
                        &.first {
                            margin-bottom: $num22*.8;
                        }
                    }
                    dt.remember {
                        margin: 8px 0 16px;
                    }
                }
            }
        }
    }
}
